/* Google Web Font
@import url('https://fonts.googleapis.com/css?
family=Montserrat:300,400,500&display=swap');
*/

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.container{
    display: grid;
    grid-gap: 10px;
    height: 100vh;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 100px 150px 1fr 150px 100px;

    grid-template-areas: 'header header header'
                         'menu main top'
                         'menu main aside'
                         'menu main bottom'
                         'footer footer footer';
}
.container > div {
    display: grid;/* 밑에 인식이 안돼서 따로 추가한것*/
}
    .main {
        padding-top: 0px;
        grid-area: main;
    }
    

.container > div {
    
    /* background-color: rgb(203, 234, 246); */
    padding: 20px;
    border: 0x solid rgb(94, 91, 91);
    display: grid;
    /*justify-items: center;/* 좌우 가운데 정열*/
    /*align-items: center;/* 상하 가운데 정열*/
    /*font-size:30px;*/
}
.header {
    grid-area: header;
    font-family: 궁서;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    /*background-color: rgb(245, 241, 236);*/
    
}
.menu {
    grid-area: menu;
    display: grid;
    grid-template-rows: repeat(1, 50px 30px 30px 30px 100px); /* 그리드 컨테이너의 열 설정 */
    grid-gap: 10px; /* 리스트 요소들 사이의 간격 */  
    font-size: 30px;
    background-color: rgb(159, 246, 208);
    
}
.menu li{
    text-align: left;
    font-size: 20px;  
}
.mall{
    display: grid;
    grid-template-rows: repeat(1, 40px 20px 20px 100px); 
    grid-gap: 20px;  /*리스트 요소들 사이의 간격 */ 
    font-size: 30px; 
}

.top {
    grid-area: top;
    display: grid;
    grid-template-rows: repeat(1, 50px 0px); 
    grid-gap: 0px;  /* ADDRESS큰메뉴와 리스트 요소들 사이의 간격 */ 
    font-size: 20px;
    
}
.address {
    display: grid;
    font-size: 16px;
    grid-gap: 15px  
}
.top {
    background-color: rgb(243, 241, 193);
}
.aside {
    grid-area: aside;
    font-size: 20px;
    background-color: rgb(197, 235, 248);
}
.bottom{ 
    grid-area: bottom;
    font-size: 20px;
    padding-top: 10px;
    background-color: rgb(225, 206, 245)
}
/*.footer{
    background-color: rgb(245, 241, 236);
}*/

.ario{
    display: grid;
    font-size: 16px;
    grid-gap: 15px 
}
.footer {
    grid-area: footer;
}
details {
    display: grid;
    margin-left: 5px;
    margin-bottom:10px; /*열기전 ARIO항목의 바닥간격 */
    margin-top: 0px;
    font-size: 16px;/*열었을때 항목의 글자크기*/
    color: #655;
   
   
    
}
details[open] summary {
    font-weight: 00;
    margin-left: 0px;
}

details > summary {
    color: #333;
    font-size: 20px; /*화살표 글자 크기,열기전과 후 크기는 같음 */
    padding: 7px 0; /* 열었을때 ARIO 와 항목사이 간격 */
    margin-top: 10px; /*열었을때 ARIO 와 Pay stubs 간격 */
}
a{
    text-decoration: none;
    /*font-size: 18px;  열었을때 항목 글자 크기. 디테일 폰트크기와 겹침 */
    margin-bottom: 7px; /* 디테일 열었을때 항목 간격은 a테그로 연결되어 있어 여기서 수정 */
}

.aside ul :hover{
    background-color: rgb(244, 220, 203);  
}
.aside ul{
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.bottom ul :hover{
    background-color: rgb(244, 220, 203);
}
.bottom ul{
    list-style: none;
    padding: 10px;
    margin-top: 0px;
}
.menu li:hover{
    color: rgb(242, 4, 4);
    font-weight: 900;
}
.menu li{
    padding: 10px;
}
.main{
    display: block;
}
.footer i:hover{
    color: rgb(7, 67, 234);
}
.footer a:hover {
    color: rgb(242, 4, 4);
    font-weight: 900;
}
.address a:hover{
    color: rgb(242, 4, 4);
    font-weight: 900;
}

.slideshow-container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  }
  