:root{
  --text-color:#f0f4f5;
  --background-color:#263343;
  --accent-color:#d49466;
}

body{

  margin: 0;
  font-family: 'Source Sans Pro';
}

a{
  text-decoration: none;
  color: var(--text-color);
}
.navbar{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;  /* 위에는 8 양옆은 12*/
}

.navbar__logo{
  font-size: 24px;
  color: var(--text-color)
}

.navbar__logo i{
  color: #d49466;
}
.navbar__menu li:hover{ /*호버기능*/
  background-color: #d49466;
  border-radius: 4px;
}
.navbar__menu{
  display: flex;
  list-style: none; /*동그라미 닷 모양 없앰*/
  padding-left: 0;
}

.navbar__menu li{
  padding: 8px 12px; /*패딩을 쓰는이유는 나중에 마우스를 올렸을때 백그라운드를 넓게 쓰기위함 마진을 넣으면 좁아지지만 패딩은 안으로 박스안으로 넣기때문에 좀더 넓게 쓸수있음*/

}

.navbar__icons {

  list-style: none;
  color: white;
  display: flex 1;
  padding-left: 0px;
  font-size: 24px;
}

.navbar__icons li {
  
  padding: 8px 14px;

}
.navbar__toogleBtn{
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}
.img div{
  display: block;
  
}

@media screen and (max-width: 768px) {
.navbar{
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px; /*화면 가로 세로에 공간준거임 잘 볼것*/
}

.navbar__menu{
  display: none;
  flex-direction: column;
  align-items: center; /*가운데로 안가는 이유는 너비가 작기때문에 너비값을 줘야함*/
  width: 100%;
  
}
.navbar__menu li{
  width: 100%;
  text-align: center;
}
.navbar__icons {
  display: none;
  justify-content: center; /*현재 플렉스 방향은 로우기때문에 가운데로 하려면 저스티파이를 씀*/
  width:100%; /*저스티파이로 해도 가운데로 오지않는 이유는 너비가 100%가 아니기때문*/
  /*???근데 가운데로 안옴.이유는 리스트에 기본으로 들어가있는 패딩이 있기 때문 .navbar__icons 에서 패딩을 0으로해야함*/

}
.navbar__toogleBtn{
  display: block; /*위에서 디스플레이 none이기때문에 작아졌을때 나오게 블럭으로 설정)*/
}
.navbar__menu.active,
.navbar__icons.active{
  display: flex;
}
.img div{
  display: flex; /*플렉스로 안하면 아래 길이조정할때 공백이 항상 남게됨..*/
  
  height: 100vh; /*화면이 줄었을때 길이.vh로 하니 공백이 그나마 없어지고 100으로 하면 사진이 조금 늘어짐*/
}

}
